// background
$background-base: #FFFFFF;

// text
$body-text: #263445;
$secondary-text: #616D7C;

// primary
$primary: #4b7ced;

// error
$error: #CF3232;

// warning
$warning: #F59E4E;

// success
$success: #08AA5E;