// background
$background-base: #ffffff;

// text
$body-text: #263445;
$secondary-text: #616d7c;

// main colors
$primary: #0875bc;
$primaryPale: #60b5ed;
$secondary: #deecf7;
$red: #e86a6a;
$white: #ffffff;

// error
$error: #cf3232;

// warning
$warning: #f59e4e;

// success
$success: #08aa5e;